@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --md: 1.8rem;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #FBF5F3;
    background-color: #061826;
}
ul {
    list-style: none;
}
.page {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
header {
    width: 100%;
    margin: 20px 0;
    text-align: center;
    display: grid;
    place-content: center;
}
.buscador {
    margin: 10px 0 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.search {
    font-size: 18px;
    border-radius: 10px;
    padding: 10px;
}
button {
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #34bf49;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
}
main {
    font-size: 18px;
    margin: 0 0 20px 0;
    display: grid;
    place-items: center;
}
.movies {
    margin-top: 20px;
    text-align: center;
    width: 80%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.movie img {
    max-width: 200px;
    margin-top: 10px;
    border-radius: 10px;
}